# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tools/

# Editor and OS
.DS_Store
.idea/
.vscode/
Thumbs.db
